{% extends "shared/base.html" %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock css_file %}

{% block title %}One Post{% endblock title %}

{% block content %}
    <h1>My Post</h1>
    <div class="posts-container">
        <div class="post-card">
            <h2 class="post-title">
                <a href="/posts/author/{{ post.author.id }}">
                    {{ post.author.first_name }} {{ post.author.last_name }}
                </a>
            </h2>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-content">{{ post.content }}</p>
            <p><a href="{% url 'posts_index' %}">Back to All Posts</a></p>

            {% if comments %}
                <h1>Comments:</h1>
            {% endif %}

            {% for comment in comments %}
                <li>
                    <span>
                        <a href="/posts/author/{{ comment.posted_by.id }}">
                            {{ comment.posted_by.first_name }} {{ comment.posted_by.last_name}}
                        </a>
                    </span>
                    <span>:{{ comment.content }}</span>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock content %}